.card {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    column-count: 2;
    margin: 1.5rem;
    border-radius: 12px;
    overflow: hidden;
    transition: 150ms;
}


.card__poster {

    width: 100%;
    display: block;
}

.card__title {

    font-size: 1.1rem;
    margin: 0 0 0.8rem 0;
    text-align: center;
    font-weight: bold;
}

.card__description {

    font-size: 0.9rem;
    text-align: justify;
    margin: 0 0 1rem 0;
}